@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

.grain::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.06;
  background-image: radial-gradient(#fff 1px, transparent 1px);
  background-size: 4px 4px;
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.floaty {
  animation: floaty 4s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2b2f3a;
  border-radius: 8px;
}
